.Homepage {
    background-image: url('../Home/home.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    top:0;
    width:100%;
    height: 100vh;
    overflow-y: hidden;
}

div.welcomeNote {

    align-items: center;
    color: #ffffff;
    justify-content: stretch;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-top: 280px;
    font-size: 4.5vw;
    font-weight: bolder;

}

span#subtitle {
    font-size: 2vw;
    margin-left: 800px;
    
}

/* Media Query for devices up to 768px wide */
@media only screen and (min-width:1020px) and (max-width:1450px) {
    div.welcomeNote {
        font-size: 5vw;
        /* Adjust font size for smaller devices */
        margin-top: 280px;
        /* Adjust margin top for smaller devices */
    }

    span#subtitle {
        font-size: 2.5vw;
        /* Adjust font size for smaller devices */
        text-align:right;
        margin-left: 770px;
        /* Reset margin */
    }
}

/* Media Query for devices up to 768px wide */
@media only screen and (min-width:750px)and (max-width:1020px) {
    div.welcomeNote {
        font-size: 4.5vw;
        /* Adjust font size for smaller devices */
        margin-top: 280px;
        /* Adjust margin top for smaller devices */
    }

    span#subtitle {
        font-size: 2.5vw;
        /* Adjust font size for smaller devices */
        text-align:right;
        margin-left: 520px;
        /* Reset margin */
    }
}

/* Media Query for devices up to 480px wide */
@media only screen and (max-width: 450px) {
    div.welcomeNote {
        font-size: 10vw;
        /* Adjust font size for even smaller devices */
        margin-top: 250px;
        text-align:left;
        
        
        /* Adjust margin top for even smaller devices */
    }

    span#subtitle {
        font-size: 5vw;
        /* Adjust font size for even smaller devices */
        
        text-align:right;
        margin-left: 170px;
        /* Reset margin */
    }
}