.skills {
    background-image: url('../Skills/skills.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y:auto;
}

.card{
    position: relative;
    width: 100px; /* Adjust the width of the card */
    height: 100px; /* Adjust the height of the card */
}
.card-img {
    max-width: 100%;
    /* Set the maximum width of the image to 100% of its container */
    max-height: 100%;
    /* Set the maximum height of the image to 100% of its container */
    object-fit: cover;
    /* Maintain aspect ratio and cover the entire container */
    border-radius: 8px;
}

.card-title{
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    font-size: 2vw;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-family:cursive;
    text-wrap: nowrap;
    
}

.card{
    width: 70px; /* Adjust the width of the card */
    height: 70px; /* Adjust the height of the card */
}

.python {
    
    top: 15vw;
    left: 40vw;
}

.javascript {
    top: 5vw;
    left: 20vw;
}

.react {
    top: 13vw;
    left: 7vw;
}

.html {
    top: -5vw;
    left: 60vw;
}

.node {
    top: 18vw;
    left: 15vw;
}
.sql {
    top: 05vw;
    left: 65vw;
}

.css {
    top: 2vw;
    left: 33vw;
}

.express {
    top: -15vw;
    left: 85vw;
}
.da {
    top: 1vw;
    left: 79vw;
}



/********** RESPONSIVE **********/
@media only screen and (min-width:0px) and (max-width: 750px) {
    .skills {
        width: 111%;
        height: 111vh;
}
.card{
    position: absolute;
    width: 50px; /* Adjust the width of the card */
    height: 50px; /* Adjust the height of the card */
}
.card-title{
    font-size: 4vw;
}
.python {
    top: 60vw;
    left: 10vw;
}

.javascript {
    top: 10vw;
    left: 60vw;
}

.react {
    top: 90vw;
    left: 40vw;
}

.html {
    top: 48vw;
    left: 45vw;
}

.node {
    top: 105vw;
    left: 70vw;
}
.sql {
    top: 145vw;
    left: 75vw;
}

.css {
    top: 55vw;
    left: 80vw;
}

.express {
    top: 110vw;
    left: 10vw;
}
.da {
    top: 155vw;
    left: 12vw;
}
}
