footer.footer{
    background-color: #333; /* Background color of the footer */
    color: #fff; /* Text color */
    padding: 0px; /* Padding at the top and bottom */
    width: 100%; /* Full width */
    position: fixed; /* Fixed positioning */
    bottom: 0; /* Align to the bottom of the viewport */
    display: flex; /* Use flexbox */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    z-index: 100; /* Ensure the footer stays on top of other content */
    margin-bottom: 0px;
    
}
.footer p{
    font-size: 14px;
    text-align: center;
    justify-content: center;
    align-items: top;
   
}

/* Media Query for devices up to 768px wide */
@media only screen and (min-width:1020px) and (max-width:1450px) {
    .footer p {
        font-size: 12px; /* Adjust font size for smaller devices */
        margin-left: 0vw;
        margin-bottom: 0.5vw;
    }
}


/* Media Query for devices up to 768px wide */
@media only screen and (min-width:750px) and (max-width:1020px) {
    .footer p {
        font-size: 12px; /* Adjust font size for smaller devices */
        margin-left: 0vw;
        margin-bottom: 0.5vw;
    }
}

/* Media Query for devices up to 480px wide */
@media only screen and (max-width: 450px) {
    .footer p {
        font-size: 10px;
        margin-left: 0vw;
        margin-bottom: 1vw;
         /* Further adjust font size for even smaller devices */
    }

  
}