.contacts{
  background-image: url('../Contact/contact.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  top:0;
  width:100%;
  height: 100vh;
  overflow-y: hidden;
}

/* ContactPage.css */

h1{
  margin-top: 5vw;
  text-align: center;
  font-size: 3vw;
  color: #ffffff;
}
h1::before{
  content: none;
  
}

.contact-container {
  text-align: justify;
  padding: 20px;
}


.logo svg {
  width: 40px;
  height: 40px;
  transition: color 0.1s ease, transform 0.3s ease;
}

.logo:hover  {
  color: var(--color); 
  transform: translateX(-10vw);
}


.title{
  margin-top: 1vw;
  font-size: larger;
  text-align: center;
  transition: color 0.1s ease;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s ease;
  margin-top: 2vw;
  margin-left: 03vw;
}

span.desc {
  color: white;
  font-size: 2vw;
  margin-top: -4vw;
  margin-left: 25vw;

}


.logo:hover::after {
  content:var(--desc); 
  position: absolute; 
  top: 1vw; 
  left: 60vw; 
  text-align: center;
  font-size: 30px; 
  color: var(--color); 
  white-space: nowrap;
}

/********** RESPONSIVE **********/
@media only screen and (min-width:0px) and (max-width: 750px) {
h1 {
  margin-top: 10vw;
  font-size: 9vw;
  margin-left: 30vw;
}

.logo {
margin-top: 10vw;
margin-left: 03vw;
}

.logo:hover::after {
content:var(--desc); 
font-size: 20px;  
white-space: wrap;
}
}

