.about{
  background-image: url('../About/about.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  top:0;
  width:100%;
  height: 100vh;
  overflow-y: hidden;
}

div.myname {

  align-items: center;
  color: #ffffff;
  justify-content:center;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 80px;
  font-size: 4.5vw;
  font-weight: bolder;

}


.profile{
  margin-top: 50px;
  
  margin-left: 50px;
  margin-right: 60vw;
  color:#ffffff;
  font-size:2vw;
  text-align:justify;
  font-weight:400;
  
}


.img-container {
  width: 20vw;
  max-width: 200%; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  border-radius: 50%; /* Create a round shape */
  overflow: hidden; /* Clip image to container boundaries */
  margin-right: 150px;
  margin-left: 70vw;
  margin-top: -22vw;
  
  box-shadow: 0 0 20px 5px rgb(255, 42, 42);
  
}

.img-container img {
  width: 100%; /* Ensure the image fills the container */
  height: auto; /* Ensure the image fills the container */
  object-fit: cover; /* Maintain aspect ratio and cover container */
}

.interest{
  color:#ffffff;
  font-size: xx-large;
  text-align: center;
  margin-top: 4vw;
}

.button{
margin-top: 1vw;
margin-left: 76vw;
background-color: rgba(0, 0, 0, 0.438);
color: #ffffff;
font-size: 20px;
padding: 6px 20px;
border-radius: 20px;
transition-duration: 0.4s;
box-shadow: 0 0 8px 2px rgb(255, 42, 42);
border-style:solid;
border-width: 2px;
border-color: rgb(162, 144, 144) ;
position: relative;
}


.button:hover::after {
content: "Click to open Resume"; 
position: absolute; 
top: 13%; 
left: 120%; 
text-align: center;
font-size: 20px; 
color: #ccaaaa; 
white-space: nowrap;
}


/******** RESPONSIVE ******/

/* Media Query for small devices  */
@media only screen and (min-width:0px) and (max-width: 350px) {
div.myname {
  margin-top: 10vw;
  margin-left: 12vw;
  font-size: 7.5vw;
}

.img-container{
margin-top: -122vw;
margin-left:28vw;
width: 50vw;
}
.interest {
font-size: 6vw;
margin-top: 70vw;
}

.button{
margin-left: 38vw;
font-size: 4vw;
}
.button:hover::after { 
top: 140%;
margin-left:-37vw ; 
font-size: 3.5vw; 
white-space: nowrap;
}
.profile {
margin-top: 315px;
margin-left: 20px;
margin-right: 8vw;
font-size: 4.5vw;
}
}
/* Media Query for medium mobile devices  */
@media only screen and (min-width:350px) and (max-width: 750px) {
div.myname { 
  font-size: 6.5vw;
  margin-top: 10vw;
  margin-left: 9vw;
}
.profile {
margin-top: 90vw;
}
.img-container {
width: 50vw;
margin-left: 28vw;
margin-top: -125vw;
}
.button {
font-size: 4vw;
margin-left: 40vw;
}
.interest {
font-size: 6vw;
margin-top: 66vw;
}
.profile {
margin-top: 82vw;
margin-right: 6vw;
font-size: 5vw;
}
.button:hover::after { 
top: 120%;
margin-left:-38vw ; 
font-size: 4vw; 
white-space: nowrap;
}
}

/* Media Query for medium mobile devices  */
@media only screen and (min-width:420px) and (max-width: 720px) {
div.myname { 
  margin-top: 8vw;
}
.img-container {
  margin-top: -115vw;
}
.profile {
  margin-top: 72vw;
  font-size: 4.5vw;
}
.interest {
  margin-top: 57vw;
}
}

/* Media Query for tablet devices  */
@media only screen and (min-width:750px) and (max-width: 1020px) {
.profile {
  margin-top: 90px;
  margin-right: 55vw;
  font-size: 3vw;
}
.img-container {
width: 30vw;
margin-left: 67vw;
margin-top: -45vw;
}
.button {
margin-left: 74vw;
}
.interest {
font-size: 3.5vw;
margin-top: 10vw;
}
.button:hover::after { 
top: 120%;
margin-left:-23vw ; 
font-size: 2.5vw; 
white-space: nowrap;
}
}

/* Media Query for tablet devices  */
@media only screen and (min-width:1010px) and (max-width: 1470px) {
.profile {
  margin-top: 70px;
  margin-left: 50px;
  margin-right: 55vw;
  font-size: 2.5vw;
}
.img-container {
width: 27vw;
margin-left: 68vw;
margin-top: -32vw;
}
.button:hover::after { 
top: 120%;
margin-left:-16vw ; 
font-size: 1.8vw; 
white-space: nowrap;
}
}