.education {
    background-image: url('../Education/edu.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

#degree h3 {
    margin-top: 80px;
}

h3 {
    margin-left: 70px;
    color: #000000;
    font-size: 2vw;
    text-align: justify;
    font-weight: bolder;
}

h1 {
    font-size: 2.2vw;
    color: white;
}


#degree h1 {
    margin-top: 10px;
    margin-left: -37vw;
    padding-left: 20px;
}



#pu h1 {
    margin-top: 10px;
    margin-left: -41vw;
    padding-left: 20px;
}



#sslc h1 {
    margin-top: 10px;
    margin-left: -47.5vw;
    padding-left: 20px;
}


p {
    color: white;
    margin-top: 10px;
    margin-left: 120px;
    font-size: x-large;
}


/********** RESPONSIVE **********/
@media only screen and (min-width:0px) and (max-width: 750px) {
    p {
        margin-left: 50px;
        font-size: 5VW;
    }

    h3 {
        margin-left: 15px;
        font-size: 5vw;
    }

    #sslc h1,
    #pu h1,
    #degree h1 {
        margin-left: 3vw;
        font-size: 6vw;
        text-align: left;
    }

    div #degree {
        margin-top: 50vw;
    }
}